    <button class="menu-button" id="menuButton" aria-label="Toggle Menu">
        <div class="line"></div>
    </button>

    <div class="sidebar" id="sidebar">
        <div class="sidebar-content">
            <nav class="nav-menu">
                <a href="/" class="nav-menu-item">
                    <span class="material-symbols-outlined">home</span>
                    Home
                </a>
                <a href="/info" class="nav-menu-item">
                    <span class="material-symbols-outlined">planner_review</span>
                    Stats
                </a>
                <a href="/" class="nav-menu-item">
                    <span class="material-symbols-outlined">search</span>
                    Search Lessons
                </a>
                <a href="/ib-practice-platform/" class="nav-menu-item">
                    <span class="material-symbols-outlined">quiz</span>
                    Practice
                </a>
                <a href="/exemplars" class="nav-menu-item">
                    <span class="material-symbols-outlined">library_books</span>
                    IA/EE Exemplars
                </a>
                <a href="/timer" class="nav-menu-item">
                    <span class="material-symbols-outlined">timer</span>
                    Exam Timer
                </a>
                <a href="https://opennotes.pages.dev/" class="nav-menu-item" target="_blank">
                    <span class="material-symbols-outlined">note_stack</span>
                    OpenNotes
                </a>
                <a href="https://github.com/NagusameCS/IVY" class="nav-menu-item" target="_blank">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C5.37 0 0 5.373 0 12c0 5.303 3.438 9.8 8.205 11.387.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.757-1.333-1.757-1.09-.745.083-.729.083-.729 1.205.084 1.84 1.236 1.84 1.236 1.07 1.835 2.807 1.305 3.492.998.108-.775.418-1.305.76-1.605-2.665-.3-5.466-1.335-5.466-5.933 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23a11.52 11.52 0 013.003-.403c1.02.005 2.045.137 3.003.403 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.21 0 1.595-.015 2.88-.015 3.27 0 .315.21.69.825.57C20.565 21.795 24 17.295 24 12c0-6.627-5.373-12-12-12z"/>
                    </svg>
                    GitHub
                </a>
                <a href="/teachers" class="nav-menu-item">
                    <span class="material-symbols-outlined">school</span>
                    For Educators
                </a>
            </nav>
            
            <div class="sidebar-footer">
                <div class="flex items-center justify-between">
                    <span class="text-sm text-gray-600 dark:text-gray-400">Theme</span>
                    <button onclick="if(typeof ThemeManager!=='undefined')ThemeManager.toggle()" class="dark-mode-toggle">
                        <span class="material-symbols-outlined theme-toggle-icon">light_mode</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


